.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  &__content {
    padding: 1.5em 2.5em;
    max-width: 600px;
    width: 100%;
    background-color: #fbf5e5;
    color: grey;
  }
  &__title {
    font-size: 2rem;
    margin-bottom: 0.65em;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 1.3em;
  }
  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__label {
  }
  &__input {
    width: 100%;
    padding: 8px 5px;
    &--textarea {
      resize: none;
      margin-bottom: 1em;
    }
    &--email {
      margin-bottom: 15px;
    }
  }
  &__btn {
    padding: 10px 30px;
    background-color: rgba(orange, 0.7);
    align-self: flex-end;
  }
}
.modal.active {
  transform: scale(1);
}
a {
}
// display: block;
