.contact {
  padding-top: 6.56em;
  @media screen and (max-width: 992px) {
    padding-top: 4.56em;
  }
  @media screen and (max-width: 578px) {
    padding-top: 2.56em;
  }
  &__title {
    text-align: center;
    margin-bottom: 0.75em;
  }
  &__btn {
    display: block;
    margin: 0 auto 8.125em;
    @media screen and (max-width: 768px) {
      margin: 0 auto 2.125em;
    }
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    // justify-content: center;
  }
  &__menu {
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }
  &__top {
    margin-bottom: 2.18em;
  }
  &__list {
    display: flex;
    gap: 35px;
  }
  &__link {
    max-width: 16px;
    width: 100%;
    aspect-ratio: 1/0.75;
  }
  &__logo {
    width: 100%;
    height: 100%;
    @media screen and (max-width: 768px) {
      text-align: center;
      flex: 0 0 0;
    }
  }
  &__copyrigth {
    padding-top: 2em;
    padding-bottom: 2.5em;
  }
  @media screen and (max-width: 578px) {
    padding-top: 1em;
  }
}

.copyrigth {
  border-top: 1px dashed #d4d4d8;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  &__link {
    color: #797b89;
  }
  &__rigths {
    flex-shrink: 1;
    display: block;
  }
  &__inner {
    display: flex;
    gap: 30px;
  }
  @media screen and (max-width: 768px) {
    gap: 15px;
  }
}
